.container {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;

  @media only screen and (min-width: 769px) {
    gap: 2rem;
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 130rem;
  }
}
