@use '@common/styles' as *;

.container {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;

  @include md-up {
    gap: 2rem;
  }

  @include xl-up {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 130rem;
  }
}
