.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: 0.625rem;
  gap: 0.625rem;

  transition: grid-template-columns 150ms linear;

  @media only screen and (min-width: 600px) {
    padding: 1.5rem 2rem;
    gap: 1.5rem;
  }

  @media only screen and (min-width: 769px) {
    grid-template-columns: minmax(min-content, 180px) minmax(0, 1fr);
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: minmax(min-content, 240px) minmax(0, 1fr);
  }
}

.aside {
  position: sticky;
  z-index: var(--zIndex-header);
  top: 0;
  border-bottom: 1px solid var(--divider);
  padding: 0.625rem;
  margin: -0.625rem;
  margin-bottom: 0;
  background-color: var(--background);

  display: grid;
  grid-template-columns: minmax(min-content, 24px) minmax(0, 1fr);
  align-items: center;
  gap: 0.5rem;

  @media only screen and (min-width: 769px) {
    padding: unset;
    margin: unset;
    margin-top: -3rem;
    padding-top: 3rem;
    top: 0; // needs margin-padding fixes to not bounce
    border-bottom: unset;
    align-items: baseline;
    grid-template-columns: unset;
    grid-template-rows: min-content;
    gap: 0.75rem;
    max-height: calc(100vh - 3rem);
  }
}
