@mixin xs-up {
  @media only screen and (min-width: 540px) {
    @content;
  }
}

@mixin sm-up {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin md-up {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin lg-up {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin xl-up {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

:root {
  --text-primary: #fff;
  --text-secondary: #ffffffb3;

  --primary-main: #90caf9;
  --primary-light: #e3f2fd;
  --primary-dark: #42a5f5;
  --primary-contrastText: #000000de;

  --paper: #181818;
  --background: #242424;
  --divider: rgba(255, 255, 255, 0.12);

  --paper-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --zIndex-header: 1000;
  --zIndex-overlay: 9999;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-primary: #000000de;
    --text-secondary: #00000099;

    --primary-main: #1976d2;
    --primary-light: #42a5f5;
    --primary-dark: #1565c0;
    --primary-contrastText: #fff;

    --paper: #fff;
    --background: #f8f8f8;
    --divider: rgba(0, 0, 0, 0.12);
  }
}
