@use '@common/styles' as *;

.container {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: minmax(0, 300px) minmax(0, 3fr);

  overflow: hidden;
  border-radius: 0.25rem;
  background-color: var(--paper);
  box-shadow: var(--paper-shadow);

  @include xs-up {
    grid-template-columns: minmax(0, 2fr) minmax(0, 2fr);
    grid-template-rows: unset;
  }

  @include md-up {
    max-width: 64rem;
  }
}

.card_content {
  padding: 0.625rem;

  @include sm-up {
    padding: 1rem;
  }
}

.img_container {
  width: 100%;

  & img {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }

  @include xs-up {
    height: 100%;

    & img {
      height: 100%;
    }
  }
}

.title {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.625rem;

  @include sm-up {
    margin-bottom: 1rem;
  }
}

.header {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0.625rem 0;
}

.info {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.ingredients_container {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
  column-gap: 0.75rem;
  grid-template-rows: auto;

  & > *:nth-child(odd) {
    color: var(--text-primary);
    justify-self: end;

    &::after {
      content: ':';
    }
  }

  & > *:nth-child(even) {
    justify-self: start;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
