@use '@common/styles' as *;

.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  color: var(--text-primary);
  user-select: none;
}

.logo {
  height: 2rem;
  width: 2rem;
  margin-top: -6px; // centering on the glass

  @include sm-up {
    height: 3rem;
    width: 3rem;
    margin-top: -12px; // centering on the glass
  }
}

.header {
  font-size: 2rem;
  font-weight: 600;
  display: none;

  @include sm-up {
    display: block;
  }
}
